* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}
button {
  /* background-color: #e5e5e5; */
  border: 0;
  cursor: pointer;
}
.header {
  display: flex;
  background-color: #222222;
  justify-content: space-between;
  align-items: center;
  padding:19px 0;
  }
.header svg:hover * {
    fill: #f12e48;
    transition: fill .4s;
  }
  
.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 120px;
}
.right_menu {
  display: flex;
  gap: 33px;
  padding-right: 240px;
  align-items: center;
}
.main {
  /* background-color: #e5e5e5; */
  margin: 0;
}
.content {
  /* width: 100%; */
  display: flex;
  background: #f1e4e6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  gap: 65px;
}
.content_photo {
  width: 50%;
}

.text {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 377px;
}
.text h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  color: #222222;
}
.ofluxer {
  font-size: 30px;
}
.fashion {
  color: #f16d7f;
}
.offer {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
}
.offer3 {
  position: relative;
}
.offer_img1 {
  position: relative;
}
.offer_big {
  min-height: 180px;
  grid-column: 1 / -1;
  overflow: hidden;
}
.width_img_mobile{
  display: none;
}
.overlay_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.offer_img {
  width: 100%;
  height: auto;
}
.offer_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.offer_text h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 29x;
  text-align: center;
  color: #fff;
}
.FOR_offer {
  color: #f16d7f;
  font-size: 25px;
}
.offer_img1 img:hover,
.offer_big:hover {
  opacity: 1;
  transition: opacity .4s;
}
.text_products {
  /* margin: 0px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_products h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}
.text_products p {
  padding-top: 6px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}
.products {
  padding-top: 96px;
}
.photo_products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 48px;
}

.products1 {
  background: url(/img/Background.png);
}

.img_products {
  padding-left: 109px;
}
.products1 p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding-top: 14px;
  padding-left: 18px;
  padding-right: 28px;
}
.products1 h5 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-top: 25px;
  padding-left: 18px;
}
.products1 img {
  height: 420px;
}
.pc_text_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding-left: 16px;
  padding-bottom: 24px;
  padding-right: 28px;
}
.products1:hover {
  box-shadow: 0px 7px 8px -4px rgba(34, 60, 80, 0.2);
}
.products1:hover .product__img {
  filter: brightness(0.5);
  transition: all .4s;
}

.products1:hover .product__add {
  display: flex;
}
.button_block {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 60px;
}

.button {
  padding: 15px 39px;
  border: 1px solid #ff6a6a;
}

.button p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}
button:hover .btn_text {
  color: #fbfbfb;
}
.footer__feature {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
  background: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
  color: #fbfbfb;
}

.footer__feature__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 360px;
  text-align: center;
}

.footer__feature__items__heading {
  padding-top: 25px;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
}

.footer__feature__items__text {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
}

.subscribe_background {
  background-image: url(../img/footer/background.png);
  background-size: cover;
  height: 448px;
}

.subscribe {
  display: flex;
  justify-content: space-evenly;
  height: 448px;
  align-items: center;
}

.subscribe__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__img {
  width: 96px;
  height: 96px;
}

.footer__subscribe__text {
  width: 360px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.subscribe__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subscribe__right__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.footer__subscribe__heading__thing {
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
}

.subscribe__form {
  display: flex;
  flex-wrap: nowrap;
}

.subscribe__form__e-mail {
  width: 256px;
  height: 49px;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #e1e1e1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-indent: 25px;
}

.subscribe__submit {
  width: 100px;
  height: 49px;
  border: none;
  background: #f16d7f;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;
  transition: all .4s;
}

.subscribe__submit:hover {
  background: #fff;
  color: #f16d7f;
  border: solid 1px #f16d7f;
  transition: all .4s;
}

footer {
  background-color: #222224;
  height: 79px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 23px;
  padding-top: 24px;
}

.main__footer__left {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.main__footer__right {
  display: flex;
  gap: 7px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fbfbfb;
  transition: all .4s;
}

.icons:hover {
  background-color: #F16D7F;
  color: #fff;
  transition: all .4s;
}
/* Планшетная версия */

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    max-width: 1024px;
    width: 100%;
    margin: 0;
    padding-left: calc(50% - 367px);
    padding-right: calc(50% - 367px);
  }

  .logo {
    padding-left: 32px;
  }
  .right_menu {
    padding-right: 40px;
  }
  .main {
    min-width: 768px;
    max-width: 1024px;
    width: 100%;
    margin: 0;
  }
  .content img {
    align-content: flex-start;
  }
  .text h1 {
    font-size: 44px;
    /* line-height: 53px; */
    line-height: 40px;
  }
  .ofluxer {
    font-size: 24px;
    /* line-height: 29px; */
  }
  .offer {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .offer_big {
    min-height: 180px;
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .photo_products {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
  }
  .footer__feature {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .subscribe_background {
    height: 693px;
    background-image: url(../img/footer/background_tablet.png);
    background-size: cover;
  }

  .subscribe {
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    gap: 48px;
    padding-top: 64px;
    margin-bottom: 140px;
  }


  .footer__subscribe__heading__bold {
    line-height: 162%;
  }

  .footer__subscribe__heading__thing {
    line-height: 162%;
  }
}
@media (max-width: 767px) {
  .center {
    max-width: 767;
    width: 100%;
    margin: 0 auto;
    padding-left: calc(50% - 367px);
    padding-right: calc(50% - 367px);
  }
  .logo, .right_menu{
    padding-left: 16px;
    padding-right: 16px;
  }

  .user {
    display: none;
  }

  .bascket {
    display: none;
  }
  .content{
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  .content_photo{
    display: none;
  }
  .text{
    padding-left: 0;
    margin-top: 50%;
    margin-bottom: 50%;
  }
  .text h1{
    font-size: 38px;
    line-height: 46px;
  }
  .ofluxer{
    font-size: 20px;
    line-height: 24px;
  }
  .offer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .products{
    padding-top: 0;
  }
  .offer_img1{
    max-width: 343px;
  }
  .offer_img1 img{
    pointer-events: none;
    }
  .width_img{
    display: none;
  }
  .width_img_mobile{
    display: block;
  }
  .photo_products{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .products1{
    max-width: 360px;
  }
  .footer__feature {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .subscribe_background {
    background-image: url(../img/footer/background_mobile.png);
    background-size: cover;
    height: 550px;
  }

  .subscribe {
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    gap: 48px;
    padding-top: 48px;
  }

  .footer__subscribe__heading__bold {
    text-align: center;
    line-height: 162%;
  }

  .footer__subscribe__heading__thing {
    text-align: center;
    line-height: 162%;
  }

  .subscribe__form__e-mail {
    width: 230px;
  }
  footer {
    height: 143px;
  }

  .footer__wrapper {
    flex-direction: column;
    padding-top: 43px;
    padding-bottom: 9px;
    gap: 40px;
  }

  .main__footer__left {
    order: 2;
  }

  .main__footer__right {
    order: 1;
  }
}

